
.radio-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;  
}

.label{
    padding-top: 10px;   
}

.group{
    display: inline;
    justify-content: center;
    flex-direction: column;
}

.radio-options{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    background-origin: padding-box;
    padding-bottom: 20px;
}

.row{
    display: inline-flex; 
    justify-content: center; 
    flex-direction: row;
}



.post-form {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

button:hover{
    background-color: #ea9cde;
}

button{
    margin: 10px;
}

.single-song{
    padding-top: 20px;
}
