
body{
  padding-top: 20px;
}

.taskbar-button{
    width: fit-content;
    font-size: large;
    margin: 50px;
    padding: 10px;
    height: fit-content;
  }
  
  .taskbar-button:hover{
    background-color: #3f143d;
  }

  .toolbar{
    display: flex;
    justify-content: space-between;
    top: 0px;
}

  .request-button{
    width: fit-content;
    background-color: #E2AEDD;
    font-size: large;
    margin: 50px;
    padding: 10px;
    height: fit-content;
  }
